/* Lane styles */

.Lane {
    float: left;
    margin: 0 40px 0 0;
    width: 150px;
}

.LaneName {
    width: 135px;
}

.LaneHeader {
    margin: 0 0 20px 0;
}

.LaneDelete {
    display: inline-block;
    margin: 0 0 0 10px;
}

.AddButton {
    width: 100px;
}

.LaneAddNote {
    text-align: center;
}